.icon-holder,
.icon-holder .icon {
    min-width: 20px;
    min-height: 20px;
    width: 40px;
    height: 40px;
}

#search-bar::before,
#search-bar::after {
    content: '\e803';
}

.hidden {
    display: none;
}

.nav-group-item .float-right {
    float: right;
    margin-right: 0px !important;
}

.nav-group,
.nav-group-title {
    font-size: 20px;
}

.nav-group-item .icon {
    margin-right: 20px;
    font-size: 30px;
    margin-top: -8px;
}

.drop-file {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: -webkit-fill-available;
}

.drop-file.active {
    border: 2px solid #333;
}

#drop-file-text {
    font-size: 20px;
    font-weight: 300;
    color: #333;
    margin-top: -10px;
}

.drop-file span {
    font-size: 14px;
    font-weight: 300;
    color: #333;
    margin: 10px 0 15px 0;
}

#file-chooser {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#file-chooser:hover {
    background-color: #333;
    color: #fff;
}

#preview-file {
    width: 100%;
    height: 100%;
    border: none;
}

table.grid-view th,
table.grid-view #backlink {
    display: none;
}

table.grid-view td.file-size,
table.grid-view td.file-name,
table.grid-view td.icon-holder {
    display: grid;
}

table.grid-view td {
    display: none;
    text-align: center;
}

table.grid-view tr {
    float: left;
    min-width: 150px;
}

table.grid-view tr:nth-child(even) {
    background-color: #fff;
}

table.grid-view .icon-holder,
table.grid-view .icon-holder .icon {
    width: 100%;
    height: 80px;
}